{
  "addr": ":8888",
  "apikey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "user": {
    "nickname": "vimgirl",
    "nickname_y": "びむがーる",
    "sex": "女",
    "bloodtype": "A",
    "birthdateY": 2000,
    "birthdateM": 9,
    "birthdateD": 9,
    "age": 14,
    "constellations": "魚座",
    "place": "東京",
    "mode": "dialog"
  }
}
